.lead__title {
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0;
  align-self: center;
  font-style: normal;
  font-weight: 900;
  max-width: 720px;
  
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__title {
    margin: 0 24px;
  }
}

@media screen and  (min-width: 425px) and (max-width: 767px) {
  .lead__title {
    max-width: 720px;
    margin: 0 16px;
    font-size: 60px;
    line-height: 72px;
   
  }
}

@media screen and  (max-width: 424px) {
  .lead__title {
    max-width: 720px;
    margin: 0 16px;
    font-size: 40px;
    line-height: 44px;
   
  }
}